*{padding:0;margin:0;}
html, body{
	height:100%;
}
html{
	font-size:80px;
}
.wrap{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;            
}
.page{
    font-size: 1rem;
    text-align: center;
}
.page1,.page2,.page3,.page4{
    background: url(../img/images/pageone/bg.jpg) no-repeat;
    background-size:100% 100%;
    position: relative;
}

/*下箭头*/
.page .prew{
	width: .5rem;
    height: .15rem;
    background: url(../img/images/pageone/slide.png) no-repeat 0 0/ 100% 100%;
	position: absolute;
	bottom:0rem;
	left:2.1rem;
	animation: arrow 1s;
	animation-timing-function:linear;
	animation-iteration-count:infinite;
}
@keyframes arrow{
	0%   {transform: translateY(0);}
	25%  {transform: translateY(-0.2rem);}
	50%  {transform: translateY(-0.4rem);}
	75%  {transform: translateY(-0.2rem);}
	100% {transform: translateY(0);}
}

/*流星*/
#dreammaker_gcl img:nth-child(1){
	position: absolute;
	top:3.75rem;
	left:-2rem;
}
#dreammaker_gcl img:nth-child(2){
	position: absolute;
	top:3.75rem;
	left:5.8rem;
}
#dreammaker_gcl img:nth-child(3){
	position: absolute;
	top:3.75rem;
	left:5.8rem;
}

/*中心图标*/
.box{
	position: absolute;
	width:3.5rem;
	height: 3.5rem;
	top: 11.5%;
	left: 12.5%;
}
#dreammaker_gcl .box img:nth-child(1){
	position: absolute;
	top:0;
	left:0;
	height:3.5rem;
}
#dreammaker_gcl .box img:nth-child(2){
	position: absolute;
	top:0.838rem;
	left:0.838rem;
}
#dreammaker_gcl .box img:nth-child(3){
	width:3.5rem;
	height:3.5rem;
	position: absolute;
	top:0;
	left:0;
}
#dreammaker_gcl .box img:nth-child(4){
	width: 3.5rem;
	position: absolute;
	bottom:0;
	left:0;
}
#dreammaker_gcl .box img:nth-child(5){
	position: absolute;
	top:0;
	left:1.85rem;
}
#dreammaker_gcl .box img:nth-child(6){
	position: absolute;
	width: 27%;
	top:0;
	left:1.4rem;
}
#dreammaker_gcl .box img:nth-child(7){
	position: absolute;
	bottom:0;
	right:0;
	width: 73%;
}
#dreammaker_gcl .box img:nth-child(8){
	position: absolute;
	top:1.275rem;
	left:0;
}
#dreammaker_gcl .box img:nth-child(9){
	position: absolute;
	width: 7%;
	top:42%;
	left:28%;
}
#dreammaker_gcl .box img:nth-child(10){
	position: absolute;
	width: 12%;
	top:40.3%;
	left:4.5%;
}
#dreammaker_gcl .box img:nth-child(11){
	position: absolute;
	width: 40%;
	top:37.5%;
	left:24%;
}
#dreammaker_gcl .box img:nth-child(12){
	position: absolute;
	width: 14%;
	top:35%;
	left:40%;
}
#dreammaker_gcl .box img:nth-child(13){
	position: absolute;
	width: 46%;
	top:33%;
	left:54.5%;
}
#dreammaker_gcl .box img:nth-child(14){
	position: absolute;
	width: 72%;
	bottom:0;
	left:28.5%;
}
#lay{
	animation-delay: 1s;
}

#dreammaker_gcl img:nth-child(5){
	position: absolute;
	top:50%;
	left:0;
}
#dreammaker_gcl img:nth-child(6){
	position: absolute;
	top:60%;
	left:15%;
}
#lay2{
	animation-delay: 2.3s;
}
#lay3{
	position: absolute;
	height: 1.1rem;
	top:72%;
	left:25%;
	animation-delay: 2.7s;
}
.bgm img{
	position: absolute;
	width: 8%;
	height: 4.5%;
	bottom: 3%;
	right: 5%;
	transform-origin: center center;
	animation: musicroll 4s;
	animation-iteration-count:infinite;
	animation-timing-function:linear;
}
@keyframes musicroll{
	0%   {transform: rotateZ(0);}
	25%  {transform: rotateZ(90deg);}
	50%  {transform: rotateZ(180deg);}
	100% {transform: rotateZ(360deg);}
}

/*page2*/
.page2 .earth img{
	width: 100%;
	height: 100%;
	display:none;
}
#zi1{
	width: 70%;
	position: absolute;
	top: 80%;
	left: 15%;
	line-height:10%;
}
#zi2{
	position: absolute;
	width: 95%;
	left: 2.5%;
	top: 88%;
}
.active{
	display:block !important;
}

/*page3*/
.page3 img:nth-child(1){
	position: absolute;
	width: 15%;
	height: 10%;
	left: 21%;
	top: 5%;
}
.page3 img:nth-child(2){
	position: absolute;
	width: 47%;
    height: 24%;
    left: 52%;
    top: 10%;
}
.page3 img:nth-child(3){
	position: absolute;
	width: 44%;
    height: 20%;
    left: 4%;
    top: 25%;
}
.page3 img:nth-child(4){
	position: absolute;
	width: 11%;
    height: 7%;
    left: 82%;
    top: 33%;
}
.page3 img:nth-child(5){
	position: absolute;
	width: 43%;
    height: 18%;
    left: 6%;
    top: 54%;
}
.page3 img:nth-child(6){
	position: absolute;
	width: 60%;
    height: 23%;
    left: 39%;
    top: 39%;
}
.page3 img:nth-child(7){
	position: absolute;
	width: 43%;
    height: 20%;
    left: 44%;
    top: 67%;
}
.page3 img:nth-child(8){
	position: absolute;
	width: 11%;
    height: 7%;
    left: 13%;
    top: 82%;
}
.page3 .bgm img{
	position: absolute;
	width: 8%;
	height: 4.5%;
	left:87%;
	top:92%;
	transform-origin: center center;
	animation: musicroll 4s;
	animation-iteration-count:infinite;
	animation-timing-function:linear;
}
.floatleft{
	animation-timing-function:linear;
	animation-iteration-count: infinite;
	animation-direction:alternate;
	animation: floatleft 2s;
	animation-delay: .5s;
	-webkit-animation: floatleft 2s;
	-webkit-animation-timing-function:linear;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction:alternate;
}

@keyframes floatleft{
	0% {transform: translate(0px, 0px);}
	50% {transform: translate(-10px, -10px);}
	100% {transform: translate(-20px, -20px);}
}

.floatright{
	animation-timing-function:linear;
	animation-iteration-count: infinite;
	animation-direction:alternate;
	animation: floatright 2s;
	-webkit-animation: floatright 2s;
	-webkit-animation-timing-function:linear;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction:alternate;
}

@keyframes floatright{
	0% {transform: translate(0px, 0px);}
	50% {transform: translate(10px, 10px);}
	100% {transform: translate(20px, 20px);}
}

.floatrotate{
	animation-timing-function:linear;
	animation-iteration-count: infinite;
	animation-direction:alternate;
	animation: floatrotate 2s;
	-webkit-animation: floatrotate 2s;
	-webkit-animation-timing-function:linear;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction:alternate;
}

@keyframes floatrotate{
	0% {transform: rotate(-10deg) translate(0px, 0px);}
	50% {transform: translate(-20deg) translate(10px, 10px);}
	100% {transform: translate(-30deg) translate(20px, 20px);}
}

/*page4*/
.page4 span:nth-child(1){
    position: absolute;
    color: white;
    font-size: 0.25rem;
    line-height: 4%;
    width: 13%;
    height: 4%;
    left: 42%;
    top: 32%;
}
.page4 span:nth-child(2){
	position: absolute;
    width: 33%;
    height: 4%;
    color: white;
    font-size: 0.25rem;
    animation-delay: .3s;
    line-height: 4%;
    left: 33%;
    top: 38%;
}
.page4 .img4 img:nth-child(1){
	left: 0;
    top: 0;
    width: 115%;
    animation-delay: .6s;
    height: 107%;
    animation-duration: 1s;
}
.page4 .img4 img:nth-child(2){
	position: absolute;
	left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    animation-delay: 3.5s;
}
.page4 .img4 img:nth-child(3){
	position: absolute;
	width: 18%;
    height: 10%;
    animation-delay: .9s;
    left: 38%;
    top: 10%;
}
.page4 .img4 img:nth-child(4){
	position: absolute;
	width: 24%;
    animation-delay: 2.1s;
    height: 14%;
    left: 5%;
    top: 20%;
}
.page4 .img4 img:nth-child(5){
	position: absolute;
	width: 21%;
    height: 12%;
    animation-delay: 2.4s;
    left: 70%;
    top: 17%;
}
.page4 .img4 img:nth-child(6){
	position: absolute;
	width: 20%;
    height: 12%;
    animation-delay: 1.2s;
    left: 15%;
    top: 43%;
}
.page4 .img4 img:nth-child(7){
	position: absolute;
	width: 18%;
    animation-delay: 2.7s;
    height: 10 %;
    left: 71%;
    top: 43%;
}
.page4 .img4 img:nth-child(8){
	position: absolute;
	width: 20%;
    height: 11%;
    animation-delay: 3s;
    left: 15%;
    top: 59%;
}
.page4 .img4 img:nth-child(9){
	position: absolute;
	animation-delay: 1.8s;
    width: 21%;
    height: 12%;
    left: 69%;
    top: 60%;
}
.page4 .img4 img:nth-child(10){
	position: absolute;
	width: 20%;
    height: 11%;
    left: 39%;
    animation-delay: 1.5s;
    top: 71%;
}

.page4 .contain{
	display: none;
	position: absolute;
	left:-0.7rem;
	top:2.4875rem;
    width: 100%;
    height: 100%;
}
.page4 .contain .page4_image{
    position: absolute;
    width: 900%;
    height: 100%;
}
.page4 .contain .page4_image img{
	float:left;
	width: 4rem;
    height: 3.72rem;
   	margin-left:1.01rem;
}

#preButton{
	display:none;
	position: absolute;
	width: 7%;
    height: 7%;
    z-index: 13;
    left: 1%;
    top: 48%;
    background: url(../img/img/left.png) no-repeat 0 0/100% 100%;
}
#netButton{
	display:none;
	position: absolute;
	width: 7%;
    height: 7%;
    z-index: 13;
    right: 1%;
    top: 48%;
    background: url(../img/img/right.png) no-repeat 0 0/100% 100%;
}
#closePf{
	display:none;
	position: absolute;
	width: 15%;
    height: 7%;
    top: 5%;
    left: 8%;
    z-index: 14;
    background: url(../img/img/x.png) no-repeat 0 0/100% 100%;
}

