html{
	font-size:80px;
}
/*header*/
.header .nav{
	height:0.55rem;
	display:flex;
	justify-content: space-between;
	background:#262626;
	align-items:center;
	position:relative;
}
.header .nav .xiala{
	width:4.688rem;
	height:3.656rem;
	background:#262626;
	position:absolute;
	top:0.54rem;
	right:0;
	display:none;
}
.header .nav .xiala ul{
	margin-left: 0.15rem;
	margin-right:0.153rem;
	border-top:0.013rem solid #111111;
}
.header .nav .xiala ul li{
	height:0.65rem;
	line-height:0.65rem;
	font-family: PingFang-SC-Regular;
	font-size: 0.188rem;
	color: #999999;
	letter-spacing: 0;
}
.header .nav .xiala ul li a{
	font-family: PingFang-SC-Regular;
	font-size: 0.188rem;
	color: #999999;
	letter-spacing: 0;
}
.header .nav .xiala ul li:nth-child(1){
	padding-top:0.27rem;
}
.header .nav .active{
	width:1.338rem;
	height:1.075rem;
	background:#262626;
	position:absolute;
	top:0.54rem;
	right:0;
	display:none;
}
.header .nav .active ul li{
	font-family: PingFang-SC-Regular;
	font-size: 0.15rem;
	color: #999999;
	letter-spacing: 0;
}
.header .nav .active ul li i{
	width:0.188rem;
	height:0.216rem;
	display:inline-block;
	margin-right:0.1rem;
	padding-top:0.25rem;
	padding-left:0.225rem;
}
.header .nav .active ul li:nth-child(2) i{
	padding-top:0.156rem;
}
.header .nav .active ul li i img{
	width:100%;
	height:100%;
}
.header .nav .gengduo{
	padding-left:0.15rem;
}
.header .nav .gengduo img{
	width:0.199rem;
	height:0.159rem;
}
.header .nav .p1 p{
	font-family: PingFangSC-Regular;
	font-size: 0.225rem;
	color: #FFFFFF;
	letter-spacing: 0;
}
.header .nav .group{
	padding-right:0.15rem;
}
.header .nav .group img{
	width:0.35rem;
	height:0.35rem;
}
.header .sousuo{
	height:0.65rem;
	display:flex;
	justify-content: space-around;
	align-items:center;
}
.header .sousuo input{
	width:4.388rem;
	height:0.35rem;
	border:0px;
	border-radius:0.625rem;
	background:#FFFFFF url(../images/el-icon-search.svg) no-repeat 0.154rem center/0.216rem 0.216rem;
	padding-left:0.43rem;
}
input::-webkit-input-placeholder {
	font-family: PingFang-SC-Regular;
	font-size: 0.15rem;
	color: #E0E0E0;
	letter-spacing: 0;
} 

/*body*/
/*body{
	height:23rem;
}*/
.body{
	background:#fff;
}
.body .leibie{
	height:1.5rem;
}
.body .leibie .leibie_top .leibie_top_left{
	height:0.563rem;
	display:flex;
	justify-content:space-between;
	align-items:center;
}
.body .leibie .leibie_top .leibie_top_left .leibie_top_left_1{
	padding-left:0.15rem;
}
.body .leibie .leibie_top .leibie_top_left .leibie_top_left_2{
	padding-right:0.15rem;
}
.body .leibie .leibie_top .leibie_top_left .leibie_top_left_1 img{
	width:0.188rem;
	height:0.188rem;
}
.body .leibie .leibie_top .leibie_top_left .leibie_top_left_2 img{
	width:0.113rem;
	height:0.113rem;
	padding-bottom:0.04rem;
}
.body .leibie .leibie_top .leibie_top_left .p2{
	display:inline-block;
	margin-left:0.1rem;
	font-family: PingFang-SC-Medium;
	font-size: 0.188rem;
	color: #333333;
	letter-spacing: 0;
}
.body .leibie .leibie_top .leibie_top_left .p3{
	display:inline-block;
	margin-right:0.05rem;
	font-family: MicrosoftYaHei;
	font-size: 0.15rem;
	color: #20A0FF;
	letter-spacing: 0;
	line-height: 14px;
}

.body .leibie .leibie_bottom{
	height:0.938rem;
	display:flex;
	justify-content: space-between;
	border-bottom:0.006rem solid #D3DCE6;
	margin-left:0.15rem;
	margin-right:0.15rem;
}
.body .leibie .leibie_bottom>div{
	width:0.856rem;
	height:0.75rem;
	border-radius:0.038rem;
}
.body .leibie .leibie_bottom div{
	display:flex;
	flex-direction: column;
	justify-content:center;
	align-items:center;
}
.body .leibie .leibie_bottom div img{
	width:0.225rem;
	height:0.213rem;
}
.body .leibie .leibie_bottom p{
	text-align:center;
	font-family: PingFang-SC-Medium;
	font-size: 0.15rem;
	color: #FFFFFF;
	letter-spacing: 0;
	margin-top:0.102rem;
}
.body .leibie .leibie_bottom div:nth-child(1){
	background: #F57E86;
}
.body .leibie .leibie_bottom div:nth-child(2){
	background: #EACD77;
}
.body .leibie .leibie_bottom div:nth-child(3){
	background: #C477EA;
}
.body .leibie .leibie_bottom div:nth-child(4){
	background: #20A0FF;
}
.biao{
	height:4.981rem;
	display:inline-block;
	display:flex;
	justify-content: space-around;
	align-items: center;
}
.biao .zuo,.you{
	height:4.563rem;
	width:2.1rem;
}
.biao .div1{
	width:2.1rem;
	height:1rem;
	margin-bottom:0.188rem;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
	display:flex;
	justify-content: space-around;
	align-items: center;
	font-family: PingFang-SC-Regular;
	font-size: 0.113rem;
	color: #999999;
}
.biao .div1 .zuozuo{
	margin-bottom:0.1rem;
}
.biao .div1>div>div:nth-child(2){
	margin-bottom:0.146rem;
}
.biao .div1 .zuozuo i{
	width:0.106rem;
	height:0.106rem;
	display:inline-block;
}
.biao .div1 .zuozuo img{
	width:100%;
	height:100%;
}
.biao .div1 .youyou i{
	width:0.075rem;
	height:0.071rem;
	display:inline-block;
}
.biao .div1 .youyou img{
	width:100%;
	height:100%;
}
.biao .div1 .youzi{
	border-left:0.006rem solid #D3DCE6;
	padding-left:0.188rem;
}
.biao .div1 .youzi div:nth-child(1) p{
	font-family: PingFang-SC-Medium;
	font-size: 0.15rem;
	color: #333333;
	letter-spacing: 0;
	margin-bottom:0.15rem;
}
.biao .div1 .youzi div:nth-child(2) p{
	font-family: PingFang-SC-Regular;
	font-size: 0.125rem;
	color: #20A0FF;
	letter-spacing: 0;
	padding:0.025rem 0.188rem;
	border:0.006rem solid #20A0FF;
	border-radius:0.038rem;
}


.body .fenye{
	height:0.6rem;
	background:#F5F5F5;
	margin-top:0.035rem;
	display:flex;
	justify-content: space-around;
	align-items: center;
}
.body .fenye .fenlei_yi{
	height:0.225rem;
	color: #475669;
}
.body .fenye .fenlei_yi span{
	width:0.225rem;
	height:0.225rem;
	line-height:0.225rem;
	display:inline-block;
	border:0.006rem solid #D3DCE6;
	background: #FFFFFF;
	color: #475669;
	font-size:0.125rem;
	text-align:center;
}
.body .fenye .fenlei_yi span:nth-child(2){
	background:#20A0FF;
}
.body .fenye .fenlei_yi span:nth-child(1){
	background:#EFF2F7;
}
.body .fenye .fenlei_yi span:nth-child(4){
	background:#EFF2F7;
}
.body .fenye .fenlei_yi span:nth-child(5){
	background:#EFF2F7;
}
.body .fenye .fenlei_yi span:nth-child(6){
	background:#EFF2F7;
}
.body .fenye .fenlei_yi span:nth-child(7){
	background:#EFF2F7;
}
.body .fenye .fenlei_yi .qian{
	margin-right:0.05rem;
}
.body .fenye .fenlei_yi .wang{
	margin-right:0.05rem;
	margin-left:0.05rem;
}

/*footer*/
.footer .footer_top{
	height:9.025rem;
	background:#fff;
	padding-left:0.15rem;
	padding-right:0.15rem;
}
.footer .footer_top .liebiao1{
	height:2.525rem;
	border-bottom:0.006rem solid #D3DCE6;
	font-family: PingFang-SC-Regular;
	font-size: 0.15rem;
	color: #333333;
}
.footer .footer_top .liebiao1 .ul1{
	padding-top:0.188rem;
}
.footer .footer_top .liebiao1 .ul1 li{
	margin-bottom:0.1rem;
}
.footer .footer_top .liebiao1 .ul1 li:nth-child(1){
	width:1.038rem;
	height:0.263rem;
	line-height:0.263rem;
	font-size:0.188rem;
	padding-left:0.15rem;
	border-left:0.013rem solid #20A0FF;
	margin-bottom:0.15rem;
}
.footer .footer_top .liebiao1 .ul1 .i1{
	width:0.15rem;
	height:0.139rem;
	display:inline-block;
	margin-right:0.1rem;
}
.footer .footer_top .liebiao1 .ul1 .i2{
	width:0.064rem;
	height:0.088rem;
	display:inline-block;
	margin-left:0.1rem;
}
.footer .footer_top .liebiao1 .ul1 i img{
	width:100%;
	height:100%;
}
.footer .footer_top .liebiao2{
	height:2.876rem;
	font-family: PingFang-SC-Regular;
	font-size: 0.15rem;
	color: #333333;
}
.footer .footer_top .liebiao2 .ul2{
	padding-top:0.25rem;
}
.footer .footer_top .liebiao2 .ul2 li{
	margin-bottom:0.1rem;
}
.footer .footer_top .liebiao2 .ul2 li:nth-child(1){
	width:1.038rem;
	height:0.263rem;
	line-height:0.263rem;
	border-left:0.013rem solid #20A0FF;
	font-size:0.188rem;
	padding-left:0.15rem;
	margin-bottom:0.188rem;
}
.footer .footer_top .liebiao2 .ul2 .i1{
	width:0.15rem;
	height:0.139rem;
	display:inline-block;
	margin-right:0.1rem;
}
.footer .footer_top .liebiao2 .ul2 i img{
	width:100%;
	height:100%;
}
.footer .footer_top .liebiao2 .zhankai{
	width:1.125rem;
	height:0.288rem;
	margin:auto;
	margin-top:0.188rem;
	border: 0.006rem solid #D3DCE6;
	border-radius: 0.625rem;
}
.footer .footer_top .liebiao2 .zhankai p{
	height:0.288rem;
	line-height:0.288rem;
	padding-left:0.15rem;
	font-family: PingFang-SC-Regular;
	font-size: 0.15rem;
	color: #D3DCE6;
	letter-spacing: 0;
	display:inline-block;
}
.footer .footer_top .liebiao2 .zhankai i{
	width:0.125rem;
	height:0.063rem;
	display:inline-block;
}
.footer .footer_top .liebiao2 .zhankai img{
	width:100%;
	height:100%;
}
.footer .footer_top .liebiao3{
	height:3.613rem;
	font-family: PingFang-SC-Regular;
	font-size: 0.15rem;
	color: #333333;
}
.footer .footer_top .liebiao3 .ul3{
	padding-top:0.25rem;
}
.footer .footer_top .liebiao3 .ul3 li:nth-child(1){
	width:1.038rem;
	height:0.263rem;
	line-height:0.263rem;
	border-left:0.013rem solid #20A0FF;
	font-size:0.188rem;
	padding-left:0.15rem;
	margin-bottom:0.188rem;
}
.footer .footer_top .liebiao3 .ul3 li{
	margin-bottom:0.188rem;
}
.footer .footer_top .liebiao3 .ul3 .i1{
	width:0.375rem;
	height:0.375rem;
	display:inline-block;
	margin-right:0.1rem;
}
.footer .footer_top .liebiao3 .ul3 i img{
	width:100%;
	height:100%;
}
.footer .footer_top .liebiao3 .zhankai{
	width:1.125rem;
	height:0.288rem;
	margin:auto;
	margin-top:0.188rem;
	border: 0.006rem solid #D3DCE6;
	border-radius: 0.625rem;
}
.footer .footer_top .liebiao3 .zhankai p{
	height:0.288rem;
	line-height:0.288rem;
	padding-left:0.15rem;
	font-family: PingFang-SC-Regular;
	font-size: 0.15rem;
	color: #D3DCE6;
	letter-spacing: 0;
	display:inline-block;
}
.footer .footer_top .liebiao3 .zhankai i{
	width:0.125rem;
	height:0.063rem;
	display:inline-block;
}
.footer .footer_top .liebiao3 .zhankai img{
	width:100%;
	height:100%;
}
/*footer_bottom*/
.footer .footer_bottom{
	height:1.688rem;
}
.footer .footer_bottom .dibu{
	width:4.388rem;
	height:0.888rem;
	margin:auto;
	margin-top:0.375rem;
	border-top: 0.006rem solid #D3DCE6;
	display:flex;
	justify-content: space-around;
	align-items: center;
}
.footer .footer_bottom .dibu a{
	font-family: PingFang-SC-Medium;
	font-size: 0.113rem;
	color: #666666;
	letter-spacing: 0;
}
.footer .footer_bottom .dibu span{
	color:#D9D9D9;
}
.footer .footer_bottom .dibu .a1{
	margin-left:0.575rem;
}
.footer .footer_bottom .dibu .a5{
	margin-right:0.569rem;
}
.footer .footer_bottom p{
	text-align:center;
	font-family: PingFangSC-Regular;
	font-size: 0.113rem;
	color: #D9D9D9;
	letter-spacing: 0;
}
